body{
    font-size: 13px !important;
}
.no-display{
    display: none;
}
.wrapper{
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
.login-page, .register-page{
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
.login-box{
    margin: 6% auto;
}
.content-wrapper, .right-side {
     background-color: transparent;
}
.main-sidebar{
    background-color: rgba(150, 150, 150, 0.2) !important;
}
.box{
    background: rgba(255, 255, 255, 0.5);
}
.box-body {
    border-radius: 0;
    padding: 10px;
    /*background: rgba(100, 150, 200, 0.1) !important;*/
}
.box.box-solid.box-warning {
    border: 1px solid transparent;
    border-radius: 0;
}
.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
    color: #333;
}
.pointer{
    cursor: pointer;
}
.input-group-btn > .btn {
    padding: 5.5px 10px;
}
label{
    margin: 5px 0 0;
}
hr{
    margin: 10px 0;
}
/*---------TABLE && DATATABLES-------*/
table{
    width: 100%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 2px 5px;
    vertical-align: middle;
    font-size: 13px ;
    font-weight: 400;
}
table.dataTable {
    font-size: 13px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    position: absolute;
    top: 6px;
    right: 3px;
    display: block;
    font-family: 'Glyphicons Halflings';
}
table.dataTable thead .sorting:after, .sorting_asc:after, .sorting_desc:after {
    opacity: 1;
    font-size: 8px;
    color: #fff;
}
table>thead{
    background-color: #f39c12;
    color: #fff;
}
/*--------------INPUT----------------*/

.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 3px 5px;
    font-size: 13px;
}
.form-group {
    margin: 7px 0;
}


/*------------BUTTON------------*/
.btn-group-sm>.btn, .btn-sm {
    padding: 2px 5px;
    font-size: 12px;
    margin: 2px;
    line-height: 1.2;
}


/*------PAGINATION---------*/
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 0px 7px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #ddd;
}
div.dataTables_paginate ul.pagination {
    margin: 5px 0 10px;
}


/*---------DROPDOWN-----------*/
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 145px;
}

/*---------------------*/
.input-group-addon {
    padding: 5px 12px;
}

/*----------MULTISELECT------------*/
.multiselect-container {
    width: 100%;
}
/*----------BOOTSTRAP-X_EDITABLE------------*/
.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
    color: #00a7d0;
}
.editable-input input {
    background-color: transparent;
    border: none;
    margin-top: -9px;
}
.editable-buttons {
    margin-top: -7px;
}